.header {
    position: relative;
    z-index: 1;
    padding-top: 32px;

    @media screen and (max-width:767px) {
        padding-top: 30px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 12px;

    font-family: 'Power Grotesk';
    font-size: 29.7px;
    line-height: 1.2;
    color: var(--black-text-color);
}


.header__button {
    width: 220px;
    text-align: center;
}

.header__quote {
    height: 69px;
    border-radius: 50px;
    background-color: #FFFFFF;
    padding: 0;
    overflow: hidden;

    font-family: 'Neue Machina';
    font-size: 18px;
    line-height: 0.95;
    color: var(--black-text-color);
    cursor: pointer;

    span {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 500ms;
    }

    .black__span {
        background-color: #000000;
        color: var(--white-text-color);
        border-radius: 50%;
    }

    &:hover {
        .black__span {
            transform: translate(0, -100%);
            border-radius: 0;
        }

        .white__span {
            transform: translate(0, -100%);
        }
    }
}