.results {
  padding-bottom: 100px;
  background-color: #ffffff;

  @media screen and (max-width: 767px) {
    padding-bottom: 62px;
  }
}

.results__block {
  display: flex;
  gap: 12px;

  @media screen and (max-width: 1123px) {
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    gap: 9px;
  }
}

.results__beneficial {
  width: 45%;
  background-color: #d3d4d6;
  padding: 80px 10px 126px 10px;
  border-radius: 20px;

  @media screen and (max-width: 1123px) {
    width: 100%;
    padding: 80px 0 126px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 27.5px 10px 42px 10px;
    box-sizing: border-box;
    border-radius: 15px;
  }
}

.results__title {
  max-width: 450px;
  margin-bottom: 128px;
  margin-left: 57px;

  font-size: 70px;
  line-height: 0.8;
  text-transform: uppercase;
  color: var(--black-text-color);

  span {
    color: var(--accent-text-color);
  }

  @media screen and (max-width: 1123px) {
    max-width: 90%;
  }

  @media screen and (max-width: 767px) {
    font-size: 36px;
    line-height: 0.89;
    max-width: 305px;
    margin-left: 29px;
    margin-bottom: 37px;
  }
}

.results__circle {
  max-width: 100%;
  display: block;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    max-width: 269px;
  }
}

.results__saved {
  position: relative;
  width: 25%;
  background-color: #1b1b1b;
  border-radius: 20px;
  padding: 80px 46px 45px 46px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 770px) {
    padding-left: 15px !important;
  }

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .results__sum {
    color: var(--accent-text-color);
    margin-bottom: 104px;
    position: relative;
    z-index: 2;
  }

  .results__text {
    max-width: 256px;
    margin-top: auto;
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: 1123px) {
    box-sizing: border-box;
    width: 100%;
    padding: 80px 28px 45px 28px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 767px) {
    padding: 33px 28px 25px 28px;
    border-radius: 15px;

    .results__text {
      max-width: 119px;
    }
  }
}

.results__laptop {
  position: absolute;
  max-width: 100%;
  left: 0;
  top: 150px;
  border: none;
  user-select: none;
  pointer-events: none;

  display: none;

  &::-webkit-media-controls {
    display: none !important;
  }

  @media screen and (max-width: 1123px) {
    max-width: 300px;
    left: 90%;
    top: 50px;
    display: block;

    transform: translate(-90%, 0);
  }

  @media screen and (max-width: 767px) {
    max-width: 200px;
    top: 10px;
    left: 95%;
    transform: translate(-95%, 0);
  }
}

.results__sum {
  font-family: 'Sulphur Point';
  font-style: normal;
  font-weight: 700;
  font-size: 81px;
  line-height: 80%;
  text-transform: uppercase;

  @media screen and (max-width: 1480px) {
    font-size: 60px;
  }

  @media screen and (max-width: 767px) {
    font-size: 36px;
    line-height: 80%;
  }
}

.results__text {
  font-size: 34px;
  line-height: 1;
  text-transform: capitalize;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.results__last {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (max-width: 1123px) {
    width: 100%;
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 767px) {
    gap: 9px;
  }
}

.results__top {
  height: 50%;
  background-color: #00b582;
  border-radius: 20px;
  padding: 80px 5px 45px 48px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .results__text {
    color: var(--black-text-color);
    max-width: 307px;
  }

  @media screen and (max-width: 1123px) {
    width: 50%;
    height: auto;
    padding: 50px 5px 50px 48px;

    .results__sum {
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 27px 0 20px 21px;
    border-radius: 15px;

    .results__text {
      max-width: 133px;
    }
  }
}

.results__bottom {
  height: 50%;
  border-radius: 20px;
  border: 1.5px solid #000000;

  padding: 80px 5px 45px 48px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .results__sum {
    color: var(--accent-text-color);
  }

  .results__text {
    color: var(--black-text-color);
    max-width: 307px;
  }

  @media screen and (max-width: 1123px) {
    width: 50%;
    height: auto;
    padding: 50px 5px 50px 48px;

    .results__sum {
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 27px 0 20px 21px;
    border-radius: 15px;

    .results__text {
      max-width: 133px;
    }
  }
}
