@font-face {
    font-family: 'Clash Display';
    src: url(../assets/fonts/ClashDisplay-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Digital Tech';
    src: url(../assets/fonts/Digital_tech.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Genius';
    src: url(../assets/fonts/Genius.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Kensmark';
    src: url(../assets/fonts/Kensmark-Bold.ttf) format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../assets/fonts/NeueMachina-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../assets/fonts/NeueMachina-Ultrabold.ttf) format(truetype);
    font-weight: 800;
}

@font-face {
    font-family: 'Plus Jakarta Display';
    src: url(../assets/fonts/PlusJakartaSans-Medium.ttf) format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: 'Plus Jakarta Display';
    src: url(../assets/fonts/PlusJakartaSans-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Power Grotesk';
    src: url(../assets/fonts/PowerGrotesk-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Power Grotesk';
    src: url(../assets/fonts/PowerGrotesk-UltraBold.ttf) format(truetype);
    font-weight: 800;
}

@font-face {
    font-family: 'Robtronika';
    src: url(../assets/fonts/Robtronika-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url(../assets/fonts/WhyteInktrap-Book.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url(../assets/fonts/WhyteInktrap-Medium.ttf) format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: 'Sulphur Point';
    src: url(../assets/fonts/SulphurPoint-Bold.ttf) format(truetype);
    font-weight: 700;
}