:root {
    // text colors
    --black-text-color: #000000;
    --white-text-color: #FFFFFF;
    --gray-text-color: #7C7C7C;
    --accent-text-color: #00B582;

    // fonts
    --main-title-font: 'Sulphur Point';
    --main-text-font: 'Neue Machina';
}