.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1111;
  padding-block: 12px;

  &.header__static {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    @media (max-width: 769px) {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    // padding-block: 1212px;

    > div {
      max-width: 95%;
    }
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  //   background: rgb(0 181 130 / 70%);
  //   padding: 12px 6px 12px 12px;
  //   border-radius: 56px;
  //   backdrop-filter: blur(20px);

  @media (max-width: 768px) {
    padding-inline: 12px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;

  &.black {
    color: #fff !important;
  }

  &.white {
    color: var(--black-text-color) !important;

    img {
      filter: invert(1);
    }
  }

  font-family: 'Power Grotesk';
  font-size: 29.7px;
  line-height: 1.2;
  color: var(--black-text-color);

  transition: color 0.4s ease;

  img {
    transition: filter 0.4s ease;
  }

  // color: #fff;
  // filter: drop-shadow(2px 2px 2px black);
}

.navigation {
  display: flex;
  gap: 70px;
}

.navigation__link {
  font-family: 'Plus Jakarta Display';
  font-size: 22px;
  line-height: 1.27;
  color: var(--black-text-color);
}

.header__button {
  width: 220px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    transform-origin: right center;
    width: 150px;
    scale: 0.85;
  }
}

.header__quote {
  height: 69px;
  border-radius: 50px;
  background-color: #ffffff;
  padding: 0;
  overflow: hidden;

  font-family: 'Neue Machina';
  font-size: 18px;
  line-height: 0.95;
  color: var(--black-text-color);
  cursor: pointer;

  border: 2px solid black;

  span {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
  }

  .black__span {
    background-color: #000000;
    color: var(--white-text-color);
    border-radius: 50%;
  }

  &:hover {
    .black__span {
      transform: translate(0, -100%);
      border-radius: 0;
    }

    .white__span {
      transform: translate(0, -100%);
    }
  }
}
