.industry {
    padding-top: 129.5px;

    @media screen and (max-width:767px) {
        padding: 49px 0 55.5px 0;
    }
}

.industry__uptitle {
    font-size: 22px;
    line-height: 1;
    color: var(--gray-text-color);
    margin-bottom: 29px;

    @media screen and (max-width:767px) {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.industry__title {
    font-size: 80px;
    line-height: 0.88;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 40.5px;

    @media screen and (max-width:767px) {
        font-size: 50px;
        margin-bottom: 51px;
    }
}

.industry__block {
    position: relative;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;

    display: flex;
    align-items: center;
}

.industry__list {
    width: 467px;
    border-right: 1px solid #FFFFFF;

    @media screen and (max-width:1250px) {
        width: 350px;
    }

    @media screen and (max-width:767px) {
        width: 100%;
        border-right: none;
    }
}

.industry__item+.industry__item {
    border-top: 1px solid #FFFFFF;
}

.industry__item {
    padding: 23px 48px 23px 27px;
    cursor: pointer;
    color: var(--white-text-color);
    transition-duration: 700ms;

    .industry__button {
        width: 100%;
        transition-duration: 700ms;
        text-align: left;
        color: var(--white-text-color);
        background-color: transparent;
        cursor: pointer;
    }

    &:hover {
        .industry__button {
            color: #00B582;
        }

        h3 {
            svg {
                transform: rotate(-45deg);
            }
        }

        .industry__text {
            top: 50%;
            right: 40px;
            transform: translate(0, -50%);
            opacity: 1;
            visibility: visible;
        }
    }

    @media screen and (max-width:767px) {
        padding: 0;
        position: relative;

        .industry__button:focus,
        .industry__button:hover {
            padding-bottom: 63.5px;

            .text__mobile {
                opacity: 1;
            }

            .mobile__title {
                margin-top: 56.5px;
                margin-bottom: 28px;
                font-size: 20px;
            }

            .industry__subtitle {
                border-bottom: 1px solid #FFFFFF;
            }

            .mobile__par {
                font-size: 12px;
            }

            .mobile__par+.mobile__par {
                margin-top: 15px;
            }
        }
    }
}

.industry__subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Neue Machina';
    font-size: 26px;
    line-height: 1;
    color: inherit;

    svg {
        transition-property: transform;
        transition-duration: 700ms;
    }

    @media screen and (max-width:767px) {
        font-size: 20px;
        padding: 18px 38px 18px 23px;

        svg {
            width: 29.7px;
            height: 20px;
        }
    }
}

.industry__schema {
    margin-left: 78px;
}

.industry__figure {
    margin-left: 14px;
}

// text
.industry__text {
    position: absolute;
    width: 512px;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
    transition-duration: 800ms;
    opacity: 0;
    visibility: hidden;

    @media screen and (max-width:1480px) {
        width: 400px;
    }

    @media screen and (max-width:1350px) {
        width: 300px;
    }

    @media screen and (max-width:768px) {
        position: static;
        width: 100%;
        transform: translate(0, 0);
    }
}

.text__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text__par {
    font-size: 20px;
    line-height: 1.25;
    text-transform: capitalize;
    color: var(--white-text-color);
}

.text__title {
    font-family: 'Neue Machina';
    font-size: 40px;
    line-height: 1;
    color: var(--white-text-color);
    margin-bottom: 46px;
}

// text mobile
.text__mobile {
    box-sizing: border-box;
    padding-left: 23px;
    padding-right: 38px;
    opacity: 0;
    transition-duration: 700ms;
}

.mobile__title {
    font-family: 'Neue Machina';
    font-size: 0;
    line-height: 1;
    color: var(--white-text-color);
    transition-duration: 700ms;
    margin-top: 0;
}

.mobile__par {
    font-size: 0;
    line-height: 1.24;
    text-transform: capitalize;
    color: var(--white-text-color);
    transition-duration: 700ms;
}